#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <11>;
        rows = <6>;

        map = <
            0  1  2  3  4          /* Top Left (5) */
            5  6  7  8  9 10       /* Top Right (6) */
            11 12 13 14 15         /* Mid Left (5) */
            16 17 18 19 20 21      /* Mid Right (6) */
            22 23 24               /* Thumb Left (3) */
            25 26 27               /* Thumb Right (3) */
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        
        row-gpios
            = <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* P0.24 */
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* P0.31 */
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* P1.00 */
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* P0.29 */
            , <&pro_micro 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* P1.06 */
            , <&pro_micro 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   /* P0.09 */
            ;
        
        col-gpios
            = <&pro_micro 1 (GPIO_ACTIVE_HIGH)>   /* P0.06 */
            , <&pro_micro 2 (GPIO_ACTIVE_HIGH)>   /* P0.08 */
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH)>  /* P0.17 */
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH)>  /* P0.20 */
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH)>  /* P0.22 */
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH)>   /* P0.02 */
            , <&pro_micro 17 (GPIO_ACTIVE_HIGH)>  /* P1.15 */
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH)>  /* P1.13 */
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH)>  /* P1.11 */
            , <&pro_micro 14 (GPIO_ACTIVE_HIGH)>  /* P0.10 */
            , <&pro_micro 11 (GPIO_ACTIVE_HIGH)>  /* P1.04 */
            ;
    };
};