#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <11>;
        /* This MUST match the number of row-gpios */
        rows = <6>;

        /* This map is now a picture of your keyboard's wiring */
        map = <
        /* Left Top, 5 keys -> row-gpios[0] */  0  1  2  3  4  &none &none &none &none &none &none
        /* Right Top, 6 keys -> row-gpios[1] */ &none &none &none &none &none  5  6  7  8  9 10
        /* Left Mid, 5 keys -> row-gpios[2] */ 11 12 13 14 15 &none &none &none &none &none &none
        /* Right Mid, 6 keys -> row-gpios[3] */ &none &none &none &none &none 16 17 18 19 20 21
        /* Left Thumb, 3 keys -> row-gpios[4] */ &none &none 22 23 24 &none &none &none &none &none &none
        /* Right Thumb, 3 keys -> row-gpios[5] */&none &none &none &none &none 25 26 27 &none &none &none
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        
        row-gpios
            = <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
        
        col-gpios
            = <&pro_micro 1 GPIO_ACTIVE_HIGH>
            , <&pro_micro 0 GPIO_ACTIVE_HIGH>
            , <&pro_micro 17 GPIO_ACTIVE_HIGH>
            , <&pro_micro 20 GPIO_ACTIVE_HIGH>
            , <&pro_micro 22 GPIO_ACTIVE_HIGH>
            , <&pro_micro 19 GPIO_ACTIVE_HIGH>
            , <&pro_micro 18 GPIO_ACTIVE_HIGH>
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>
            , <&pro_micro 14 GPIO_ACTIVE_HIGH>
            , <&pro_micro 16 GPIO_ACTIVE_HIGH>
            , <&pro_micro 8 GPIO_ACTIVE_HIGH>
            ;
    };
};