#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        
        steno_layer {
            // Custom 28-Key Split Steno Layout for Plover
            // Left Hand (11 keys)          Right Hand (17 keys)
            // ┌─────┬─────┬─────┬─────┬─────┐    ┌─────┬─────┬─────┬─────┬─────┬─────┐
            // │ tab │ q-  │ w-  │ e-  │ r-  │    │ t-  │ z-  │ u-  │ i   │ o   │bksp │
            // ├─────┼─────┼─────┼─────┼─────┤    ├─────┼─────┼─────┼─────┼─────┼─────┤
            // │ sht │ a-  │ s-  │ d-  │ f-  │    │ g   │ H   │ J   │ K   │ L   │ .   │
            // └─────┴─────┼─────┼─────┼─────┤    ├─────┼─────┼─────┼─────┴─────┴─────┘
            //             │ x   │ c   │ v   │    │ b   │ n   │ m   │
            //             └─────┴─────┴─────┘    └─────┴─────┴─────┘
            
            bindings = <
                // no idea
                &kp TAB   &kp Q     &kp W     &kp E     &kp R               &kp T   &kp Z   &kp U     &kp I     &kp O     &kp BSPC     
                &kp LSHFT &kp A     &kp S     &kp D     &kp F               &kp G   &kp H   &kp J     &kp K     &kp L     &kp DOT
                &kp none  &kp none  &kp X     &kp C     &kp V               &kp B   &kp N   &kp M     &kp none  &kp none  &kp none


            >;
        };
    };
};