#include <dt-bindings/zmk/matrix_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            display-name = "Default Layer";

            // Left Hand (11 keys)          Right Hand (17 keys)
            // ┌─────┬─────┬─────┬─────┬─────┐    ┌─────┬─────┬─────┬─────┬─────┬─────┐
            // │ tab │ q-  │ w-  │ e-  │ r-  │    │ t-  │ z-  │ u-  │ i   │ o    BSPC │
            // ├─────┼─────┼─────┼─────┼─────┤    ├─────┼─────┼─────┼─────┼─────┼─────┤
            // │ sht │ a-  │ s-  │ d-  │ f-  │    │ g   │ H   │ J   │ K   │ L   │ DOT │
            // └─────┴─────┼─────┼─────┼─────┤    ├─────┼─────┼─────┼─────┴─────┴─────┘
            //             │ x   │ c   │ v   │    │ b   │ n   │ m   │
            //             └─────┴─────┴─────┘    └─────┴─────┴─────┘
            
            bindings = <
                &kp TAB   &kp Q     &kp W     &kp E     &kp R               &kp T   &kp Z   &kp U    &kp I    &kp O   &kp BSPC 
                &kp COMMA &kp A     &kp S     &kp D     &kp F               &kp G   &kp H   &kp J    &kp K    &kp L   &kp ENT
                                    &kp X     &kp C     &kp V               &kp B   &kp N   &kp M     
            >;
        };
    };
};